.hero {
    height: 600px;
    max-width: $container-width;
    background-image: url('./assets/images/hero.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    margin: 0 auto 104px;
    border-radius: 16px;
    position: relative;

    &__card {
        @include flex-column;
        border-radius: 12px;
        width: 55%;
        max-width: 598px;
        background-color: $color-type-1;
        padding: 40px;
        box-sizing: border-box;
        position: absolute;
        bottom: -64px;
        left: 64px;
        box-shadow: 0 0 0 1px $color-type-2;

        &__tag {
            background-color: $primary-color;
            color: $primary-text-color;
            border-radius: 6px;
            margin-bottom: 16px;
            padding: 4px 10px;
            font-size: $font-size-small;
            line-height: 20px;
            width: fit-content;
        }

        &__title {
            color: $primary-text-color;
            font-size: $font-size-h1;
            font-weight: $font-weight-bold;
            line-height: 40px;
            margin-bottom: 24px
        }

        &__author {
            @include flex-row;
            align-items: center;
            gap: 20px;

            img {
                width: 36px;
                border-radius: 50%;
                margin-left: 12px;
                margin: unset;
            }

            h3 {
                font-size: $font-size-base;
                line-height: 24px;
                color: $text-color-type-3;
            }

            p {
                font-size: $font-size-base;
                line-height: 24px;
                color: $text-color-type-3;
            }
        }
    }
}